* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:#BAF5A3;
}

/* Estilização do Header */
.title-header {
  background-color: #011902;
  color: #d2ef23;
  padding: 15px 20px;
}

/* Container para centralizar o conteúdo */
.title-header .container {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilização do Menu */
.title-header .menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.title-header nav ul li a {
  color: #d2ef23;
  text-decoration: none;
  font-weight: bold;
}

.title-header nav ul li a:hover {
  color: #BAF5A3; /* Cor ao passar o mouse */
}